<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Sea of Mayonnaise">
 <author>Naev DevTeam</author>
 <version>0.1</version>
 <compatibility>^0\.11\..*</compatibility>
 <priority>1</priority>
 <total_conversion/>
 <description>An example of a minimal total conversion plugin for Naev.</description>
 <source>https://github.com/naev/total_conversion_plugin_example.git</source>
</plugin>
